body {
	font-family: Ubuntu, Calibri, sans-serif;
	background-color: white;
	color: black;
	margin: 0;
	padding: 2em 4em;
}

fieldset {
	border: 1px solid #B45F04;
	margin-bottom: 1em;
	padding-top: 1em;
}
legend {
	background-color: #F7BE81;
	border: 1px solid #B45F04;
	color: #B45F04;
	padding: 0.25em 0.5em;
}
input[type="text"], textarea {
	border: 1px solid #B45F04;
	width: 200px;
}
span.formlabel {
	display: block;
	float: left;
	text-align: right;
	width: 250px;
}
span.formfield {
	display: block;
	float: left;
	margin: 0;
	margin-left: 10px;
	padding: 0;
	width: 250px;
}
span.formbreak {
	clear: both;
	display: block;
	font-size: 1px;
	margin: 0;
	padding: 0;
}

.notice {
	background-color: #F7BE81;
	border: 1px solid #B45F04;
	color: #B45F04;
	font-size: 80%;
	padding: 0.5em 1em;
}
.notice strong {
	text-transform: uppercase;
}